@prefix-cls: ~'layout_header';

.@{prefix-cls} {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  color: #fff;

  &.light {
    background: @white;
  }

  &.dark {
    background: @primary-dark-bg;
  }

  &-logo {
    display: flex;
    height: 100%;
  }

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;

    &-body {
      display: flex;
      justify-content: space-between;
      height: 48px;
      line-height: 48px;

      &-menu {
        flex: 1;
      }

    }

  }

}