@prefix-cls: ~'layout_header';

.@{prefix-cls} {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 64px;
  line-height: 64px;
  color: #fff;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 299;
  }

  &-left {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &-menu {
    flex: 1;
    min-width: 0;
    height: 100%;
    align-items: center;
  }

  &-right {
    display: flex;
    min-width: 120px;
    height: 100%;
    align-items: center;
  }
}