@white: #fff;
@primary-color: #1890ff;
@border-color: rgba(5, 5, 5, .06);

@primary-dark-bg: #263238;
@submenu-dark-bg: #202b30;

@dark-mode-bg: #141414;
@dark-mode-border-color: #424242;
@dark-mode-border: 1px solid @dark-mode-border-color;
@dark-mode-color: rgba(255, 255, 255, 0.85);
@dark-mode-hover-color: rgba(255, 255, 255, 0.65);
