.layout_hybrid-sider {
  z-index: @layout-hybrid-sider-fixed-z-index;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #273352;
  transition: all 0.2s ease 0s;
}