.layout_feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 210px;
  height: 48px;

  &-main {
    display: flex;
    justify-content: right;
    min-width: 156px;
  }

  &-divider {
    height: 50%;
    margin: 0;
    border-color: rgba(0, 0, 0, .3);
  }
}