.basic-form-action {

  .expand-btn {
    margin-inline-start: 4px !important;
    transform: rotate(0deg);
    transform-origin: center center;
    transition: all 0.3s ease 0.1s;

    &.active {
      transform: rotate(-180deg);
    }
  }

}
