.tag-item {
  display: inline-block;
  vertical-align: baseline;
  height: 24px;
  margin: 0 2px;
  padding: 0 8px;
  border-radius: 3px;
  line-height: 24px;
  overflow: hidden;
  cursor: pointer;

  &.is-dark {
    color: rgba(255, 255, 255, .65);

    svg {
      color: rgba(255, 255, 255, .65);
    }
  }

  &__dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    border-radius: 50%;
    background: #d9d9d9;
  }

  &__name {
    font-size: 12px;
  }

  :global(.anticon-close) {
    vertical-align: baseline;
    svg {
      width: 8px;
      height: 8px;
    }
  }

}
