.basic-form-wrapper {
  .ant-form-item {
    .suffix-item {
      .ant-form-item-children {
        display: flex;
      }

      .suffix-cont {
        display: inline-flex;
        align-items: center;
        margin-top: 1px;
        padding-left: 6px;
        line-height: 1;
      }
    }
  }
}
