.compo_page-wrapper {

  .page-header {
    width: 100%;
    min-height: 48px;
    padding: 16px 24px;
    margin-bottom: 12px;
    background: @white;
    box-sizing: border-box;

    &-name {
      line-height: 28px;
      font-size: 16px;
      font-weight: 600;
      color: #409eff;
    }

    &-info {
      line-height: 24px;
    }
  }

  .page-content {
    min-height: 420px
  }
}