[data-theme='dark'] {
  body {
    background-color: @dark-mode-bg;
    color: @dark-mode-color;
  }

  .zm-tree-org {
    background: @dark-mode-bg;

    .tree-org-node__inner {
      border: @dark-mode-border;
    }

    .zm-tree-handle-item {
      background: @dark-mode-bg;
      color: @dark-mode-color;
      border: @dark-mode-border;
    }
  }

}
