// 视频播放器
.video-js {
  .vjs-big-play-button {
    top: 45% !important;
    left: 45% !important;
    font-size: 2em !important;
  }
}

// 富文本编辑器
.rich-text-wrapper {
  border: 1px solid #ccc;

  .toolbar-box {
    border-bottom: 1px solid #ccc;
  }
}

// 拖拽组件
.vdr {
  .vdr-stick {
    border-radius: 4px;
  }
}
