// html
span.icon-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.muti-upload {
  height: auto!important;
}

.list-upload {
  .ant-upload {
    width: 100%;
  }

  .ant-btn {
    display: block;
    margin: 0 auto 8px;
  }
}

// 富文本编辑器
.rich-text-wrapper {
  border: 1px solid #ccc;

  .toolbar-box {
    border-bottom: 1px solid #ccc;
  }
}
